VITE_API_URL_LOGIN="http://localhost:3000/auth/login"
VITE_API_URL_SIGNUP="http://localhost:3000/auth/create"
VITE_API_URL_TASKS="http://localhost:3000/tasks"
VITE_API_URL_TASKS_NEW="http://localhost:3000/tasks/new"
VITE_API_URL_TASKS_DELETE="http://localhost:3000/tasks/delete"
VITE_API_URL_BOARDS="http://localhost:3000/boards"
VITE_API_URL_BOARDS_NEW="http://localhost:3000/boards/new"