HOST="mysql host"
USERNAME="mysql username"
PASSWORD="mysql password"
API_URL="http://localhost:5173"
PORT=3000
REFRESH_TOKEN_SECRET=jwt refresh token secret
ACCESS_TOKEN_SECRET=jwt access token secret