.side-menu {
    min-width: 200px;
    height: 100vh;
    background-color: var(--bg-card);
    border-right: 1px solid var(--border);
    padding: 15px 25px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px 0;
}
.logo button {
    border: none;
    background: none;
}
.logo button:hover {
    cursor: pointer;
}
.logo svg {
    height: 20px;
    width: 20px;
}
a.board-link {
    margin: 0 auto 15px auto;
    padding: 0;
}
.board-link{
    display: block;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.board-link h1 {
    font-weight: 600;
}
.new-board-btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    width: min-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--primary);
    font-size: 1rem;
}
.new-board-btn:hover {
    cursor: pointer;
    background: var(--primary-hover);
}
.new-board-btn div {
    padding: none;
    margin: none;
    white-space: nowrap;
}
.logout-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: var(--bg-card);
}
.logout-btn:hover {
    cursor: pointer;
}
.logout-btn svg {
    position: relative;
    top: -1px;
}
.new-board-btn svg {
    position: relative;
    top: -1px;
}
@media screen and (max-width: 900px) {
    .side-menu {
        display: none;
    }
}