.task-column {
    min-width: 300px;
    height: min-content;
    background: var(--bg-subtle);
    padding: 15px;
    border-radius: 8px;
}
.task-column h1 {
    font-size: 1.2rem;
}
.column-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.column-header-btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.column-header-btns button {
    border: none;
    border-radius: 5px;
    background: var(--bg-subtle);
    padding: 8px 10px;
}
.column-header-btns button:hover {
    cursor: pointer;
    background: var(--bg-subtle-hover);
}
.column-header-btns svg {
    position: relative;
    top: 1px;
}
.column-title {
    border: none;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.task-dialog {
    padding: none;
    margin: none;
    border: none;
    position: fixed;
    border-radius: 8px;
}
.task-dialog::backdrop {
    background: var(--overlay);
}
.task-form {
    width: 500px;
    border: 1px solid var(--border);
    padding: 15px;
}
.task-form textarea {
    resize: none;
}
.priority-dropdown {
    margin: 0 0 15px 0;
    background-color: var(--bg-subtle);
    border: none;
    padding: 10px 15px;
}
.task-btns {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.create-task-btn, .close-btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
}
.create-task-btn, .close-btn:hover {
    cursor: pointer;
}
.create-task-btn {
    background: var(--primary);
}
.close-btn {
    border: 1px solid var(--primary);
    background: var(--bg-card);
}