.task-card {
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    background: var(--color-bg-card);
    border: 1px;
    border-radius: 8px;
}
.task-card-header {
    margin: 0 0 15px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.task-card-header button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: var(--color-bg-card);
}
.task-card-header button:hover {
    cursor: pointer;
    background: var(--color-bg-subtle-hover);
}
.low, .medium, .high {
    width: min-content;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: var(--font-small);
}
.low {
    color: var(--color-low-priority);
    background: var(--color-low-priority-bg);
}
.medium {
    color: var(--color-medium-priority);
    background: var(--color-medium-priority-bg);
}
.high {
    color: var(--color-high-priority);
    background: var(--color-high-priority-bg);
}
.task-info-title {
    margin: 0 0 10px 0;
    font-size: var(--font-small);
    font-weight: 500;
}
.task-info-date {
    color: var(--color-text-subtle);
    font-weight: 400;
}