.task-column {
    width: 300px;
    height: min-content;
    background: var(--bg-subtle);
    padding: 15px;
    border-radius: 8px;
}
.task-column h1 {
    font-size: 1.2rem;
}
.column-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.column-header-btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.column-header-btns button {
    border: none;
    border-radius: 5px;
    background: var(--bg-subtle);
    padding: 8px 10px;
}
.column-header-btns button:hover {
    cursor: pointer;
    background: var(--bg-subtle-hover);
}
.column-header-btns svg {
    position: relative;
    top: 1px;
}