.task-column {
    min-width: 300px;
    height: min-content;
    background: var(--color-bg-subtle);
    padding: 15px;
    border-radius: 8px;
}
.column-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.column-header-btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.column-header-btns button {
    border: none;
    border-radius: 5px;
    background: var(--color-bg-subtle);
    padding: 8px 10px;
}
.column-header-btns button:hover {
    cursor: pointer;
    background: var(--color-bg-subtle-hover);
}
.column-header-btns svg {
    position: relative;
    top: 1px;
}
.column-title {
    border: none;
    padding: 5px 0;
    font-size: var(--font-small);
    font-weight: bold;
}
.task-form {
    width: 500px;
    border: none;
    border-radius: 8px;
    padding: 15px;
}
.task-form input {
    font-size: var(--font-small);
}
.task-form textarea {
    resize: none;
    font-size: var(--font-small);
}
.priority-dropdown {
    margin: 0 0 15px 0;
    background-color: var(--color-bg-subtle);
    border: none;
    padding: 10px 15px;
}
.task-btns {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.create-task-btn, .close-btn {
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}
.create-task-btn, .close-btn:hover {
    cursor: pointer;
}
.create-task-btn {
    background: var(--color-primary);
}
.close-btn {
    border: 1px solid var(--color-primary);
    background: var(--color-bg-card);
}